############################
# Java / Gradle
############################
.gradle/
build/
bin/
out/
*.class

############################
# Spring Boot
############################
*.log
*.pid
*.seed
*.pid.lock

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# macOS
############################
.DS_Store

############################
# Windows
############################
Thumbs.db
Desktop.ini

############################
# Node / Frontend
############################
node_modules/
dist/
build/

############################
# Environment files (important later)
############################
.env
.env.local
.env.*

# jdk
oracleJdk-25/